
.hero-text h2 {
  margin-bottom: 50px;
}
.hero-text{
    height: 100%;
}
.hero-text .hero {
  position: relative;
  height: 100%;
}
.slick-list{
    height: 100%;
}
.hero-text .hero .hero-slide a:hover span {
  color: #033a71;
}
.hero .hero-slide img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: top center;
  position: absolute;
  
}
.hero .hero-slide .header-content {
    width: 100% !important;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    margin: 0 auto !important;
    position: relative;
    display: table;
    vertical-align: middle !important;
    
}

/* .slide-content {
  padding: 10px 20px 10px 0;
} */

.slide-content .h1 {
  font-size: 26px;
}

.btn-primary {
  background-color: #033a71;
  border: #111;
  border-radius: 5;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: none !important;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-active button {
  background: #d60e96;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}


/* Media Queries */

@media (max-width: 768px) {
  .hero-text .hero .hero-slide a {
    font-size: 12px;
  }

  .hero-text .hero .hero-slide a span {
    font-size: 20px;
    margin-top: 0.5rem;
  }

  .hero .hero-slide .header-content {
    width: 100% !important;
    text-align: center;
    margin: 0 auto;
  }
  .hero .hero-slide .header-content h1 {
    font-size: 15px;
    width: 95%;
    line-height:25px;
  }
}